<!DOCTYPE html>
<html>
<head>
	<title></title>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<div class="login">
		<!-- main start -->
		<!-- views/posts/index.ejs -->
		<div>
			<h3>Loggin</h3>
			<form class="user_form" action="/users" method="post">
				<label>Email * <span id="email_error" class="error_message"><%= emailError?emailError:""%></span></label>
				<input type="text" id="email" name="user[email]" value='<%= formData?formData.email:""%>'>
				<label>NickName * <span id="nickname_error" class="error_message"><%= nicknameError?nicknameError:""%></span></label>
				<input type="text" id="nickname" name="user[nickname]" value='<%= formData?formData.nickname:""%>'>
				<label>Password * <span id="password_error" class="error_message"><%= passwordError?passwordError:""%></span></label>
				<input type="password" id="password" name="user[password]" value="">
				<label>Password Confirmation* <span id="password_confirmation_error" class="error_message"></span></label>
				<input type="password" id="password_confirmation" name="user[password_confirmation]" value="">
				<p><small>*Required </small></p>
				<button class="submit_btn" class="submit_btn" type="submit">Submit</button>
			</form>
			<a href="javascript:history.back()"><button>Back</button></a>
		</div>
		<!-- main end -->
	</div>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>