<!DOCTYPE html>
<html>
<head>
	<title></title>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<div class="posts">
		<% include partials/top %>
		<!-- main start -->
		<!-- views/posts/index.ejs -->
		<div class="show">
			<h3><%= data.title %></h3>
			<div class="time">Create at <br>
			<%= data.createAt.toLocaleDateString() %><br>
			<%= data.createAt.toLocaleDateString() %>
			</div>

			<% if (data.updateAt) {%>
			<div class="time">Updated at <br>
			<%= data.updateAt.toLocaleDateString() %><br>
			<%= data.updateAt.toLocaleDateString() %>
			</div>	
			<% }%>

			<p class="body"><%= data.body%></p>
			<div class="float_right">Auther: <%= data.author.nickname %></div>
			<div class="tools_box">
				<ul>
					<li class="left">
					<% if (user && user.equals(data.author._id)) {%>
						<div class="tools">
							<a href="/posts/<%= data._id%>/edit"><button>Edit</button></a>
						</div>						
					<% }%>
					</li>
					<li  class="right">
					<% if (user && user.equals(data.author._id)) {%>
						<form class="btn_delete" action="/posts/<%= data._id%>?_method=delete" method="post">
							<button type="submit">Delete</button>
						</form>	
					<% }%>
						<a href="/posts" class="back"><button>Back</button></a>
					</li>
				</ul>
			</div>
		</div>
		<!-- main end -->
	</div>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>

